<h4>Комментарии</h4>
<p>
  <%= @row['content']  %>
  <br />
 
  <br />
  <br />
  Added at <%= @row['created_date'] %> 
  <br />
</p>

<p>
<form action ="/details/<%= @row['id'] %>" method = "POST">
   <textarea name= "content" class="form-control" rows="6" placeholder="Type comment text here"></textarea>
   </br>
   <button type="submit" class="btn btn-primary">Add comments</button>
</form>
</p>
